h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 400px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

li {
  padding: 12px 20px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
li.selected {
  background-color: #021111; /* light turquoise */
  color: #fff;
  font-weight: bold;
}

/* li:hover {
  background-color: #5d768c;
  transform: translateX(5px);
} */

li:last-child {
  border-bottom: none;
}
